body{ 
    background-image:url(/img/netflix_interface2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: right;
}

.button{ 
    background-color: red; 
    text-align: right;
    padding: 21px;
    margin-right:75px;
}

.Films{
    color: white;
    text-align: center;
}
.Commencer{ 
    background-color: red;
    margin-right:880px;
    margin-top: 440px;
    
}